@mixin backroundlinks {
    height: 270px;
    width: 270px;
    display: flex;
    background-color: #18b5dc;
    justify-content: center;
    align-items: center;
}

@mixin styleLinks {
    width: 15%;
    height: 15%;
    display: flex;
    background-color: #5ecbe7;
    justify-content: center;
    padding: 1%;
    margin: 0 1%;
}

@mixin backgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}