body {
  font-family: 'Nanum Gothic', sans-serif;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 5%;
}

.header hr {
  height: 5px;
  width: 3%;
  background-color: #dddbdb;
  border: none;
  margin: 0 auto;
}

.header p {
  width: 40%;
  line-height: 1.5;
  margin: 2% auto 4% auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .block .first_image {
  opacity: 1;
  background-image: url(./images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .block .first_image:hover .links {
  opacity: 1;
}

.main .block .first_image .links {
  opacity: 0;
  height: 270px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #18b5dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block .first_image .links a {
  width: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5ecbe7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  margin: 0 1%;
}

.main .block .second_image {
  opacity: 1;
  background-image: url(./images/2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .block .second_image:hover .links {
  opacity: 1;
}

.main .block .second_image .links {
  opacity: 0;
  height: 270px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #18b5dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block .second_image .links a {
  width: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5ecbe7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  margin: 0 1%;
}

.main .block .third_image {
  opacity: 1;
  background-image: url(./images/3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .block .third_image:hover .links {
  opacity: 1;
}

.main .block .third_image .links {
  opacity: 0;
  height: 270px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #18b5dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block .third_image .links a {
  width: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5ecbe7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  margin: 0 1%;
}

.main .block .fourth_image {
  opacity: 1;
  background-image: url(./images/4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main .block .fourth_image:hover .links {
  opacity: 1;
}

.main .block .fourth_image .links {
  opacity: 0;
  height: 270px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #18b5dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block .fourth_image .links a {
  width: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5ecbe7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  margin: 0 1%;
}

.main .block h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
}

.main .block h5 {
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */